:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: 600;
  border-bottom: red;
  margin-bottom: 50px;
}
.navbar img{
  width: 80px;
  padding-left: 5px;
}

ul{
  display: flex;
  list-style: none;
}
ul li{
  margin-right: 50px;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  border-bottom: #646cff;
  display: flex;
  place-items: inherit;
  min-width: 30px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.hero{
  display: flex;
  align-items: center;
}
.left{
  margin-left: 10px;
}

.title{
  font-size: 79px;
  font-weight: 800;
  line-height: 1.2;
}
.left p{
  font-size: 10px;
  font-weight: 500;

}
.btns{
  margin-top: 30px;

}
.btn1{
  margin-right: 50px;
  background-color: rgb(196, 21, 21);
color: white;
padding: 10px 25px;
cursor: pointer;
font-display: fallback;
font-weight: 500;
transition: cubic-bezier(0.075, 0.82, 0.165, 1);

}
.btn2{
  margin-right: 50px;
  background-color: rgb(196, 21, 21);
color: white;
padding: 10px 25px;
cursor: pointer;
font-display: fallback;
font-weight: 500;
transition: cubic-bezier(0.075, 0.82, 0.165, 1);

}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.btn1:hover{
  background-color: violet;
  border: 1px solid rgb(196, 21, 21);
  color: rgb(196, 21, 21);
}
.btn2:hover{
  background-color: violet;
  border: 1px solid rgb(196, 21, 21);
  color: white;
}
.social{
  margin-top: 20px;

}
.social-icons{
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.social-icons img{
  width: 20px;
}
.right img{
  width:500px;
  display: inline-block;

}
button:hover {
  border-color: yellowgreen;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: pink;
  }
}
